/* Basic elements */

.alert {
    z-index: 10;
    position: absolute;
    right: 10%;
    left: 10%;
    bottom: 10px;
    text-align: center;
    visibility: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    height: 100vh;
    margin: 0 auto;
}

p {
    margin: 0px;
}

input, button {
    margin-left: 10px;
    margin-top: 5px;
}

.col-md-4 {
    background-color: gainsboro;
    background-clip: padding-box;
    border: 5px solid transparent;
}

.bootstrap-table {
    overflow: scroll;
}

button {
    background-color: rgb(76, 175, 89);
    border: none;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(0, 88, 7); /* Green */
  }


.cell {
    border-left: 1px solid #555;
    border-top: 1px solid #555;
    float: left;
    background-color: #000;
}

.grid_size_field {
    width: 45px;
}

.selected-symbol-preview {
    border: 2px solid orange;
}

.col-header {
    clear:both;
    margin-bottom: 15px;
}

.col-title {
    display: inline-block;
}

.help_btn {
    float:right;   
    background-color:rgb(140,110,255);
}

/*Selectable*/

.ui-selected {
    background-image: url(../img/black-twill.png), url(../img/brushed-alum.png);
}
.ui-selectable-helper {
    border: 1px dotted #ddd;
    position: absolute;
    z-index: 1000;
}