body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    height: 100vh;
    margin: 0 auto;
}

h2 {
    margin-bottom: 15px;
}

p {
    margin: 0px;
}

input, button {
    margin-left: 10px;
    margin-top: 5px;
}

.col-md-4 {
    background-color: gainsboro;
    background-clip: padding-box;
    border: 5px solid transparent;
}

.bootstrap-table {
    overflow: scroll;
}

button {
    background-color: rgb(76, 175, 89);
    border: none;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(0, 88, 7); /* Green */
  }


.cell {
    width: 0px; /* replaced in js by fitCellsToContainer()*/
    height: 0px;
    border-left: 1px solid #555;
    border-top: 1px solid #555;
    float: left;
    background-color: #000;
}

/*Create Stamp Toolbar*/

.symbol_0 {
    background-color: #000;
}
.symbol_1 {
    background-color: #0074D9; /* blue */
}
.symbol_2 {
    background-color: #FF4136; /* red */
}
.symbol_3 {
    background-color: #2ECC40; /* green */
}
.symbol_4 {
    background-color: #FFDC00; /* yellow */
}
.symbol_5 {
    background-color: #AAAAAA; /* grey */
}
.symbol_6 {
    background-color: #F012BE; /* fuschia */
}
.symbol_7 {
    background-color: #FF851B; /* orange */
}
.symbol_8 {
    background-color: #7FDBFF; /* teal */
}
.symbol_9 {
    background-color: #870C25; /* brown */
}
.symbol_10 {
    background-color: #FAFAFA; /* transparent */
}

.grid_size_field {
    width: 45px;
}

.selected-symbol-preview {
    border: 2px solid orange;
}

#add_stamp {
    font-weight: bold;
    padding: 2px 15px;
}

/*Selectable*/

.ui-selected {
    background-image: url(../img/black-twill.png), url(../img/brushed-alum.png);
}
.ui-selectable-helper {
    border: 1px dotted #ddd;
    position: absolute;
    z-index: 1000;
}

/*Message display*/

#error_display {
    color: red;
    width: 100%;
    float: left;
    font-size: 14px;
    margin: 5px;
}

#info_display {
    color: green;
    width: 100%;
    float: left;
    font-size: 14px;
    margin: 5px;
}