/*Task demonstration*/

.pair_preview {
    height: 15vw;
    padding: 5px;
    border-bottom: solid 2px #a1a1a1;
}
.input_preview {
    height: 13vw;
    width: 13vw;
    float: left;
}
.output_preview {
    height: 13vw;
    width: 13vw;
    float: left;
    margin-left: 1vw;
}

#load_task_control_btns {
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(200, 200, 200);
    margin-bottom: 10px;
    width: 100%;
}

#load_stamped_btn {
    visibility: hidden;
}

/* Stamp Creator */

#list_of_stamps {
    width: 35vw;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.stamp_container{
    display: inline-block;
    padding: 2vw;
}

#editor_grid_control_btns {
    float: left;
    background: rgb(200, 200, 200);
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

#toolbar {
    float: left;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    background-color: rgb(200, 200, 200);
}

#tool_select {
    margin-left: 8px;
}

#tool_floodfill {
    margin-left: 8px;
}

#symbol_picker {
    float: left;
    margin-left: 8px;
    width: 100%;
}

.symbol_preview {
    width: 25px;
    height: 25px;
    float: left;
}

.use_stamp_button {
    background-color: rgba(76, 175, 80,0.5);
    font-weight: normal;
    font-size: 10px;
}

.use_stamp_button_selected {
    background-color: rgb(56, 155, 69);
    font-weight: bold;
    font-size: 14px;
}

#reconstruction_view {
    float: left;
    width: 30vw;
    background-color: #d5d5d5;
}

