body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    height: 100vh;
    margin: 0 auto;
}

#workspace {
    overflow: hidden;
    flex: 1;
}

#demonstration_examples_view {
    float: left;
    width: 30vw;
    background-color: #d5d5d5;
}

#list_of_stamps {
    width: 35vw;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#reconstruction_view {
    float: left;
    width: 30vw;
    background-color: #d5d5d5;
}

.stamp_container{
    margin: 15px;
}

#load_task_control_btns {
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(200, 200, 200);
    margin-bottom: 10px;
    width: 100%;
}

#editor_grid_control_btns {
    float: left;
    background: rgb(200, 200, 200);
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

#resize_control_btns {
    width: 100%;
    float:left;
    margin-bottom: 10px;
}

#toolbar {
    float: left;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    background-color: rgb(200, 200, 200);
}

#tool_select {
    margin-left: 8px;
}

#tool_floodfill {
    margin-left: 8px;
}

#symbol_picker {
    float: left;
    margin-left: 8px;
    width: 100%;
}

.symbol_preview {
    width: 25px;
    height: 25px;
    float: left;
}

label {
    margin-left: 0px;
}

input, button {
    margin-left: 10px;
    margin-top: 5px;
}

#resize_btn {
    margin-left: 0;
}

/*Task demonstration*/

.pair_preview {
    height: 200px;
    padding: 5px;
    border-bottom: solid 1px #a1a1a1;
}
.input_preview {
    height: 200px;
    width: 200px;
    float: left;
}
.output_preview {
    height: 200px;
    width: 200px;
    float: left;
    margin-left: 35px;
}

.text {
    text-align: center;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#modal_bg {
    background-color: black;
    width: 100%;
    min-height: 10000px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#modal {
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 100px;
    width: 500px;
    margin-top: 100px;
}

#modal input {
    margin-left: 70px;
}
